<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Selecione a Trilha</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="trilha-container">
  <div class="card-container">
    <mat-card class="mat-elevation-z10" style="display: inline-block; margin: 20px;">
      <mat-card-content>
        <h2 style="text-align: center;">ENEGRE-SER</h2>
        <p style="text-align: center;">Enfoque social</p>
        <p style="text-align: center;">{{ this.vez ? ('Vagas disponíveis: ' + enegreSerVagas) : 'Não está na sua vez'}}</p>
        <button mat-raised-button (click)="selecionaTrilha('A')" [disabled]="enegreSerVagas === 0 || !this.vez" style="display: block; margin: 0 auto;">Selecionar</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z10" style="display: inline-block; margin: 20px;">
      <mat-card-content>
        <h2 style="text-align: center;">DINHEIRO NA MÃO É VENDAVAL</h2>
        <p style="text-align: center;">Finanças pessoais</p>
        <p style="text-align: center;">{{ this.vez ? ('Vagas disponíveis: ' + dinheiroVagas) : 'Não está na sua vez'}}</p>
        <button mat-raised-button (click)="selecionaTrilha('B')" [disabled]="dinheiroVagas === 0 || !this.vez" style="display: block; margin: 0 auto;">Selecionar</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z10" style="display: inline-block; margin: 20px;">
      <mat-card-content>
        <h2 style="text-align: center;">ADMIRÁVEL MUNDO NOVO</h2>
        <p style="text-align: center;">Tecnologias digitais</p>
        <p style="text-align: center;">{{ this.vez ? ('Vagas disponíveis: ' + admiravelVagas) : 'Não está na sua vez'}}</p>
        <button mat-raised-button (click)="selecionaTrilha('C')" [disabled]="admiravelVagas === 0 || !this.vez" style="display: block; margin: 0 auto;">Selecionar</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z10" style="display: inline-block; margin: 20px;">
      <mat-card-content>
        <h2 style="text-align: center;">AGROECOLOGIA</h2>
        <p style="text-align: center;">Agroecologia</p>
        <p style="text-align: center;">{{ this.vez ? ('Vagas disponíveis: ' + agroecologiaVagas) : 'Não está na sua vez'}}</p>
        <button mat-raised-button (click)="selecionaTrilha('D')" [disabled]="agroecologiaVagas === 0 || !this.vez" style="display: block; margin: 0 auto;">Selecionar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
