<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Selecione o Turno</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="turno-container">
  <div class="card-container">
    <mat-card class="mat-elevation-z10" style="display: inline-block; margin: 20px;">
      <mat-card-content>
        <h2 style="text-align: center;">Turno Matutino</h2>
        <p style="text-align: center;">Vagas disponíveis: {{ matutinoVagas }}</p>
        <button mat-raised-button [disabled]="matutinoVagas === 0 || !this.vez" (click)="selecionaTrilha('matutino')" style="display: block; margin: 0 auto;">Selecionar</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z10" style="display: inline-block; margin: 20px;">
      <mat-card-content>
        <h2 style="text-align: center;">Turno Vespertino</h2>
        <p style="text-align: center;">Vagas disponíveis: {{ vespertinoVagas }}</p>
        <button mat-raised-button  [disabled]="vespertinoVagas === 0 || !this.vez" (click)="selecionaTrilha('vespertino')" style="display: block; margin: 0 auto;">Selecionar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
