
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>LOGIN</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="login-container" *ngIf="hasVagas()">
  <div class="container">
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>CPF:</mat-label>
        <input matInput formControlName="cpf" required>
        <mat-error *ngIf="loginForm.get('cpf')?.hasError('required')">CPF is required</mat-error>
      </mat-form-field>
      <div class="btn-group">
        <button mat-raised-button color="primary" (click)="obterInfo()"  type="button">Login</button>
        <button mat-raised-button color="accent" (click)="cadastrar()" type="button">Cadastro</button>
      </div>
    </form>
  </div>
</div>

<div class="prazo-encerrado-container" *ngIf="!hasVagas()">
  <mat-card class="mat-elevation-z10">
    <mat-card-content>
      <h2  >Prazo Encerrado</h2>
    </mat-card-content>
  </mat-card>
</div>
